/* #components-layout-demo-side .logo {
    height: 50px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  } */
  #components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  /* login */
  #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  .buttonLogin {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cardFormLogin {
    justify-content: center;
    display: block;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .ant-card-head-wrapper {
    /* background-color: rgb(14, 73, 175); */
    text-align: center;
  }
  .formLogin {
    /* background-color: rgb(14, 73, 175); */
  }